@font-face {
    font-family: "Circular";
    src: url(../fonts/Circular_Regular.woff);
}

@font-face {
    font-family: "Circular Medium";
    src: url(../fonts/Circular_Medium.woff);
}

.toast-body {
    color: #212529!important;
}

.btn-icon .feather,
.navbar .feather {
    margin-right: .5em;
}

.feather {
    width: 20px;
    margin-top: -4px;
}

.btn-sm .feather {
    height: 16px;
}

.feather, svg, svg * { 
    pointer-events: none; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Circular Medium", -apple-system, "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    --plyr-color-main: #343a40;
    font-family: "Circular", -apple-system, "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body .container {
    max-width: 1140px;
}

html {
    margin-left: calc(100vw - 100%);
}

th, td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table td {
    vertical-align: middle;
    position: relative;
}

.navbar {
    background-color: #000000d0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: calc(100% + (100vw - 100%));
}

.navbar-brand {
    padding-left: .5rem;
}

.bg-dark {
    background-color: #161819!important;
}
